name: Upload
on:
  release:
    types: [published]

jobs:
  upload:
    name: Upload dist archive
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Get Node.js version from .nvmrc
        run: echo "NODE_VERSION=$(cat .nvmrc)" >> $GITHUB_ENV

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '${{ env.NODE_VERSION }}'

      - name: Install dependencies
        run: npm ci

      - name: Create dist archive
        run: npm pack

      - name: Upload dist archive
        uses: AButler/upload-release-assets@v2.0
        with:
          files: 'web-scrobbler-metadata-filter-*.tgz'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
